<a href="https://colab.research.google.com/github/mohammadmotiurrahman/mohammadmotiurrahman.github.io/blob/main/cse203py/PythonCSE203Chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Move towards data structure

## A review of built-in datastructure



1.   List 
2.   Tuple
3.   Set
4.   Dictionary
5.   String

### List

In [ ]:
myList = [5, 2.5, 5, True, "banana"]

lenList = len(myList)
for i in range(lenList):
  print(myList[i], end = " ")
print(" ")
for e in myList:
  print(e, end = " ")

5 2.5 5 True banana
5 2.5 5 True banana

### Tuple

In [ ]:
myTuple = (5, 2.5, 5, True, "banana")

lenTuple = len(myTuple)
for i in range(lenTuple):
  print(myTuple[i], end = " ")

print(" ")

for e in myTuple:
  print(e, end = " ")

5 2.5 5 True banana
5 2.5 5 True banana

### Set

In [ ]:
mySet = {5, 2.5, 5, True, "banana"}

#Only element level iteration is available
for e in mySet:
  print(e, end = " ")

banana True 2.5 5

### Dictionary

In [ ]:
myDict = {"apple":10, "banana":20, "carrot":30}

for key in myDict.keys():
  print(f"{key, myDict[key]}")

('apple', 10)
('banana', 20)
('carrot', 30)

### String

In [ ]:
myStr = "mango"
lenStr = len(myStr)
for i in range(lenStr):
  print(myStr[i], end = " ")

print(" ")

for e in myStr:
  print(e, end = " ")

m a n g o
m a n g o

### Recursion

In [ ]:
def printNum(a):
  if (a == 5):
    return
  print(a, end = " ")
  a = a + 1
  printNum(a)

def main():
  printNum(0)

main()

0 1 2 3 4