<a href="https://colab.research.google.com/github/mohammadmotiurrahman/mohammadmotiurrahman.github.io/blob/main/cse203py/PythonCSE203Chapter1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Review of CSC 101 course taught at IUB .

In order to run the code , click on the black and orange icon "Open in Colab" above. This will take you to Google Colaboratory. After that try the following key combination, Shift + Enter to run each cell.

##Basic Idea
Here we go again, in Python. Lets see where it ends.

### Hello World in Python

In [ ]:
print("Hello World in Python for CSE 203")

Hello World in Python for CSE 203

### Variables in Python

In [ ]:
a = 5
b = 5.6
c = True
d = "Carrot"
print(a)
print(b)
print(c)
print(d)

5
5.6
True
Carrot

### Mathematical Operation

In [ ]:
x = 10 
y = 3
print(f"x + y = {x + y}") # Sum 
print(f"x - y = {x - y}") # Subtract
print(f"x * y = {x * y}") # Multiplication
print(f"x ** y = {x **y}") # Power operation
print(f"x / y = {x /y}") # Division
print(f"x // y = {x // y}") # Quotient of a division
print(f"x % y = {x % y}") # Remainder of a division

x + y = 13
x - y = 7
x * y = 30
x ** y = 1000
x / y = 3.3333333333333335
x // y = 3
x % y = 1

### for - loops

In [ ]:
for i in range(5): 
  print (i)

0
1
2
3
4

In [ ]:
for i in range(0, 5):
  print(i, end = " ")

0 1 2 3 4

In [ ]:
for i in range(0, 10, 2):
  print(i, end = " ")

0 2 4 6 8

In [ ]:
for i in range(10, 0, -2):
  print(i, end = " ")

10 8 6 4 2

In [ ]:
#list comprehension
[i for i in range(5)]

[0, 1, 2, 3, 4]

### while loop

In [ ]:
i = 0
while i < 5:
  print(i, end = " ")
  i = i + 1

0 1 2 3 4

In [ ]:
i = 5
while i > 0 :
  print(i, end = " ")
  i = i - 1

5 4 3 2 1

### Control logic

In [ ]:
x = int(input("Number please: "))
if x % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Number please: 12
Even number

In [ ]:
x = int(input("Number please: "))
if x % 2 == 0:
  print("Multiple of 2")
elif x % 3 == 0:
  print("Multiple of 3")
else:
  print("Not a multiple of 2 or not a multiple of 3")

Number please: 15
Multiple of 3

### **break** and **continue** keyword

In [ ]:
#ignore everything after 4
i = 0
while i < 15:
  i = i + 1
  if i == 5:
    break
  print(i, end = " ")

1 2 3 4

In [ ]:
#ignore multiple of 3
i = 0
while i < 15:
  i = i + 1
  if i % 3 == 0:
    continue
  print(i, end = " ")

1 2 4 5 7 8 10 11 13 14

### Something to remember by

In [ ]:
# take a close look how n is not changing
# the number of times the for loop runs
n = 10
for i in range(0, n):
  n = n + 10
  print(n, end  = " ")

20 30 40 50 60 70 80 90 100 110

In [ ]:
# take a close look how n is not changing
# the number of times the while loop run
# it does not end ... beware before running
n = 2
i = 0
#Uncomment if you want to use
'''
while i < n:
  n = n + 3
  print(n, end  = " ")
'''

'\nwhile i < n:\n  n = n + 3\n  print(n, end  = " ")\n'

## Write basic algorithm

In [ ]:
#Print the odd numbers
for i in range(10):
  if i % 2 == 1:
    print(i, end = " ")

1 3 5 7 9

In [ ]:
#Print the even numbers
while i < 10:
  if i % 2 == 0:
    print(i, end = " ")
  i = i + 1

In [ ]:
#How to print prime numbers
n = int(input("Number: "))
isPrime = True
for i in range(2 ,n):
  if (n % i == 0):
    isPrime = False

if isPrime == True:
  print(f"{n} is a prime number")
else:
  print(f"{n} is not a prime number")

Number: 12
12 is not a prime number

## Functions

In [ ]:
def hello():
  print("Hello")
hello()

Hello

In [ ]:
def hello(x):
  print(f"{x}")
hello(12)

12

In [ ]:
def hello(x,y):
  print(f"{x} + {y} is {x+y}")
hello(9,10)

9 + 10 is 19

In [ ]:
def hello(x=10, y=20):
  print(f"{x} + {y} = {x+y}")
hello(x = 13)
hello(y = 5)

13 + 20 = 33
10 + 5 = 15

In [ ]:
def hello(x):
  return x ** 2
print(hello(10))

100

In [ ]:
def hello(x , y):
  return (x, y)
print(hello(10, 20))

(10, 20)

## File Reading And Writing

In [ ]:
%%writefile hello.txt
There is a mango in the table
There is a banana in the tree
Today is Wednesday

Writing hello.txt

In [ ]:
f = open("hello.txt", "r")
print(f.readline()) #print line
print(f.readlines()) #print lots of lines
f.close() #close the file

There is a mango in the table

['There is a banana in the tree\n', 'Today is Wednesday']

In [ ]:
#Overwrite the content of "hello.txt"
f = open("hello.txt", "w")
f.write("There is a bird in the sky")
f.close() #close the file

In [ ]:
#Append the content of "hello.txt"
f = open("hello.txt", "a")
f.write("There is another bird in the sky")
f.close() #close the file

# End of Chapter1