<a href="https://colab.research.google.com/github/mohammadmotiurrahman/mohammadmotiurrahman.github.io/blob/main/cse317_2/monday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 56
print(type(x))

<class 'int'>

In [ ]:
y = 56.6
print(type(y))

<class 'float'>

In [ ]:
s = "Hello"
print(s)

Hello

In [ ]:
b = False
print(b)

False

In [ ]:
print(int(y))

56

In [ ]:
x = 56
print(f"The value of x is {x}")

The value of x is 56

In [ ]:
x = input("Enter your name: ")
print(x)

Hello

In [ ]:
price = int(input("Enter the price of the item: "))
print(price + 10)

23

In [ ]:
age = 20
if (age < 30): 
    print("Young")    
    print("Something")
else:
    print("Not young")

Young
Something

In [ ]:
x = 30
if (x % 2 == 0):
    if(x % 3 == 0):
        print("Multiple of 2 and 3")
else:
    print("Not a multiple of 2 and 4")

Multiple of 2 and 3

In [ ]:
x = 9
if (x % 2 == 0) or (x % 3 == 0):
    print("Multiple of 2 or 3")
else:
    print("Something relevant")

Multiple of 2 or 3

In [ ]:
x = True
print(not(x))

False

In [ ]:
age = 90
if (age < 30): 
    print("Young")    
elif ((age >= 30 ) and (age < 60)):
    print("Middle Age")
else:
    print("Old Age")

Old Age

In [ ]:
for i in range(0,10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
x = 0
while( x < 5):
    print(x, end = " ")
    x = x + 1

0 1 2 3 4

In [ ]:
x = 0
while( x < 10):
    x = x + 1
    if(x == 5):
        continue
    print(x, end = " ")

1 2 3 4 6 7 8 9 10

In [ ]:
file = open('hello.txt', 'r')
#print(file.readline())
#print(file.readline())
print(file.readlines())
file.close()

Today is Monday

['The sun is shining\n', '4 + 5 = 6']

In [ ]:
file = open('hello.txt', 'a')
file.write("The night is dark ")
file.close()

In [ ]:
#function
int hello(int a , int b){
    return 2;
}

In [ ]:
def hello():
    return 45

print(hello())

45

In [ ]:
int arr[4] = [1,2,3,4]

In [ ]:
#list
myList = [10,12,13,14]
print(type(myList))
print(len(myList))

<class 'list'>
4

In [ ]:
for i in range(len(myList)):
    print(myList[i], end = " ")

10 12 13 14

In [ ]:
for elm in myList:
    print(elm, end = " ")

10 12 13 14

In [ ]:
#list comprehension
#[i for i in range(5)]
myList = []
for i in range(5):
    myList.append(i)
print(myList)

[0, 1, 2, 3, 4]

In [ ]:
#list comprehension
myList = [10, 12, 34, 56]
a = [myList[i]+1 for i in range(len(myList))]
print(a)

[11, 13, 35, 57]

In [ ]:
myList = [1,2,3,4, "apple", "banana", 4.5, True]
for i in range(len(myList)):
    print(type(myList[i]), end = " ")

<class 'int'> <class 'int'> <class 'int'> <class 'int'> <class 'str'> <class 'str'> <class 'float'> <class 'bool'>

In [ ]:
myList = [1,2,3,4, "apple", "banana", 4.5, True]
for i in myList:
    print(i, end = " ")

1 2 3 4 apple banana 4.5 True

In [ ]:
#tuple
myTuple = (1,2,3,4, "apple", True)
for i in range(len(myTuple)):
    print(myTuple[i])

1
2
3
4
apple
True

In [ ]:
#tuple
myTuple = (1,2,3,4, "apple", True)
for i in myTuple:
    print(i, end = " ")

1 2 3 4 apple True

In [ ]:
myList = [1,2,3,4, "apple", "banana", 4.5, True]
myTuple = (1,2,3,4, "apple", True)
myList[0] = 1000
print(myList)

[1000, 2, 3, 4, 'apple', 'banana', 4.5, True]

In [ ]:
myList = [1,2,3,4, "apple", "banana", 4.5, True]
myTuple = (1,2,3,4, "apple", True)
myTuple[0] = 1000
print(myTuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
import sys
myList = [1,2,3,4, "apple", True]
myTuple = (1,2,3,4, "apple", True)
#space
print(sys.getsizeof(myList))
print(sys.getsizeof(myTuple))

104
88

In [ ]:
import timeit
#time comparison
print(timeit.timeit(stmt='[1,2,3,4, "apple", True]'))#list
print(timeit.timeit(stmt='(1,2,3,4, "apple", True)'))#tuple

0.05175259999987247
0.008360099999890735

In [ ]:
myList = [1,2,3,4, "apple", True]
myTuple = tuple(myList)
myList2 = list(myTuple)
print(type(myList2))

<class 'list'>

In [ ]:
#dictionary
priceElements = {"Apple":10, "Banana":20, "Carrot":30}
for key, value in priceElements.items():
    print(key, value)

Apple 10
Banana 20
Carrot 30

In [ ]:
#dictionary
priceElements = {1:10, "Banana":20, "Carrot":30}
for key in priceElements:
    print(key, priceElements[key])

1 10
Banana 20
Carrot 30

In [ ]:
#set
a = {1,2,3,4,4,3,2}
print(a)
b = {3,4,5}
print(b)

{1, 2, 3, 4}
{3, 4, 5}

In [ ]:
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [ ]:
c = a.intersection(b)
print(c)

{3, 4}

In [ ]:
#string - this can not be mutated
s = "Hello"
print(s)
s[0] = 'J'
print(s)

Hello

TypeError: 'str' object does not support item assignment

In [ ]:
#string - this can not be mutated
s = ("Hello",)
print(type(s))

<class 'tuple'>

In [ ]:
f = open('hello.txt', 'r')
textList = []
textList = f.readlines()
for i in textList:
    print(i)

The night is dark

The moon is still bright

Have a good day and a good night

In [ ]:
listNum = [1,2,3,4]
def printNum(a):
    for i in a:
        print(i, end = " ")

printNum(listNum)

1 2 3 4

In [ ]:
listNum = [1,2,3,4]
def printNum(a):
    for i in a:
        yield i

p = printNum(listNum)

In [ ]:
next(p)

4

In [ ]:
def printLine():
    for i in open('hello.txt', 'r'):
        print(i)

In [ ]:
printLine()

The night is dark

The moon is still bright

Have a good day and a good night

In [ ]:
def printLine():
    for i in open('hello.txt', 'r'):
        yield i

p = printLine()
print(p)

<generator object printLine at 0x00000214365649E0>

In [ ]:
try:
    print(next(p))
except:
    print("End of file")

End of file

In [ ]:
class Vehicle:
    def __init__(self, nWheels, price):
        self.nWheels = nWheels + 10
        self.price = price+100
    
    def about(self):
        return self.nWheels, self.price

v = Vehicle(2,10000)
print(v.about())

(12, 10100)

In [ ]:
class Bicycle(Vehicle):
    def __init__(self, nWheels, price , engineType):
        super().__init__(nWheels, price)
        self.engineType = engineType
    
    def aboutBicyle(self):
        print(str(super().about()[0]) +" "+str(super().about()[1])+ " "+self.engineType)

b = Bicycle(2,10000, "manual")
b.aboutBicyle()

12 10100 manual

In [ ]:
class Value:
    a = 56
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def add(self, x, y):
        return x + y + Value.a

v = Value(2,3)
print(v.add(9,10))
v.a = 34
print(v.a)

75
34

In [ ]:
class Value:
    a = 56
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def add(self, x, y):
        return x + y
    
    @classmethod
    def printSomething(cls, a, b):
        cls.a = 90

v = Value(2,3)
v.printSomething(3,4)
Value.printSomething(4,5)

In [ ]:
class Value:

    #class variable
    x = 500
    def __init__(self):
        self.a = 10
        self.b = 20
    
    @classmethod
    def add(cls):
        print("Inside class method")
        cls.x = 412

    @staticmethod
    def greeting():
        print("Welcome, to our Value class")

v = Value()
v.x = 1500
Value.add()
print(v.x)
print(Value.x)
Value.greeting()

Inside class method
1500
412
Welcome, to our Value class